<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstTestSuite" verbose="1" >
    <test name="LoginTest" >
        <classes>
            <class name="com.dice.LoginTest" >
                <methods>
                    <exclude name="positiveLoginTest"></exclude>
                </methods>
            </class>
        </classes>
    </test>

</suite>